[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
barkpy = {file = ".", editable = true}

[dev-packages]
twine = "*"
pytest = "*"
build = "*"

[requires]
python_version = "3.13"
